<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="table">

    <xacro:include filename="materials.xacro" />
    <xacro:include filename="table_macro.xacro" />
    <xacro:include filename="rrbot_macro.xacro" />

    <link name="world" />

    <xacro:rrbot prefix="rrbot_" parent="world">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:rrbot>
    
    <xacro:table prefix="table_" parent="rrbot_tool0">
        <origin xyz="0 0 0" rpy="${pi} 0 0" />
    </xacro:table>

</robot>